@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger text-center">Some error occur, while processing your request.</h3>
<p class="text-danger text-center">Please try again or connect to administrators for more information.</p>

