@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h1 class="text-center">Register</h1>
<hr class="w-50 bg-eventures hr-2" />
<form asp-route-returnUrl="@Model.ReturnUrl" class="w-50 mx-auto" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="d-flex justify-content-between">
		<div class="form-group">
			<div class="d-flex justify-content-center">
				<label class="font-weight-bold" asp-for="Input.Username"></label>
			</div>
			<input asp-for="Input.Username" class="form-control" placeholder="Username...">
			<span asp-validation-for="Input.Username" class="text-danger"></span>
		</div>
		<div class="form-group">
			<div class="d-flex justify-content-center">
				<label class="font-weight-bold" asp-for="Input.Email"></label>
			</div>
			<input asp-for="Input.Email" class="form-control" placeholder="Email...">
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>
	</div>

	<div class="d-flex justify-content-between">
		<div class="form-group">
			<div class="d-flex justify-content-center">
				<label class="font-weight-bold" asp-for="Input.Password"></label>
			</div>
			<input asp-for="Input.Password" class="form-control" placeholder="Password...">
			<span asp-validation-for="Input.Password" class="text-danger"></span>
		</div>
		<div class="form-group">
			<div class="d-flex justify-content-center">
				<label class="font-weight-bold" asp-for="Input.ConfirmPassword"></label>
			</div>
			<input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password...">
			<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
		</div>
	</div>

	<hr class="bg-eventures hr-2" />

	<div class="d-flex justify-content-between">
		<div class="form-group">
			<div class="d-flex justify-content-center">
				<label class="font-weight-bold" asp-for="Input.FirstName"></label>
			</div>
			<input asp-for="Input.FirstName" class="form-control" placeholder="First Name...">
			<span asp-validation-for="Input.FirstName" class="text-danger"></span>
		</div>
		<div class="form-group">
			<div class="d-flex justify-content-center">
				<label class="font-weight-bold" asp-for="Input.LastName"></label>
			</div>
			<input asp-for="Input.LastName" class="form-control" placeholder="Last Name...">
			<span asp-validation-for="Input.LastName" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<div class="d-flex justify-content-center">
			<label class="font-weight-bold" asp-for="Input.UniqueCitizenNumber">UCN</label>
		</div>
		<input asp-for="Input.UniqueCitizenNumber" class="form-control" placeholder="UCN..">
		<span asp-validation-for="Input.UniqueCitizenNumber" class="text-danger"></span>
	</div>

	<hr class="bg-eventures hr-2"/>

	<div class="button-holder d-flex justify-content-center">
		<button type="submit" class="btn bg-eventures">Register</button>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
