@model PackageCreateInputModel

@{
	ViewData["Title"] = "Create";
	var users = (ViewData["Users"] as RecipientViewModel[]).Select(u => new SelectListItem { Text = u.Username, Value = u.Id});
}

<main class="mt-3">
	<h1 class="text-center">Create Package</h1>
	<hr class="hr-2 bg-panda w-50">
	<div class="d-flex">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<form class="w-50 mx-auto" method="post">
			<div class="form-group">
				<label asp-for="Description"></label>
				<input asp-for="Description" class="form-control" placeholder="Description...">
			</div>
			<div class="weight-and-address-holder d-flex justify-content-between">
				<div class="form-group w-50 pr-5">
					<label asp-for="Weight"></label>
					<input asp-for="Weight" class="form-control" placeholder="Weight...">
				</div>
				<div class="form-group w-50 pl-5">
					<label asp-for="ShippingAddress">Shipping Address</label>
					<input asp-for="ShippingAddress" class="form-control" placeholder="Shipping Address...">
				</div>
			</div>
			<hr class="hr-2 bg-panda">
			<div class="form-group w-50 mx-auto">
				<div class="text-center">
					<label for="recipient">Recipient</label>
				</div>
				<select class="custom-select" asp-for="RecipientId" asp-items="users">
					<option selected disabled>-- Choose Recipient --</option>
				</select>
			</div>
			<hr class="hr-2 bg-panda">
			<div class="button-holder d-flex justify-content-center">
				<button type="submit" class="btn bg-panda text-white">Create</button>
			</div>
		</form>
	</div>
</main>