@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our chat!</h1>
    <a class="h3" asp-action="Chat" asp-controller="User">Start chatting!</a>
</div>
